h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

a, p, li {
  font-family: 'Anonymous Pro', monospace;
}

body {
max-width: 750px;
margin: 50px auto;
}

h1 {
text-align: center;
}

ul {
  margin 10px auto;
  list-style: none;
  background: #f5f4f7;
  max-width: 700px;
}

.time {
  background: white;
  width: 20px;
  border-radius: 3px;
}

li {
  line-height: 1.4;
  margin: 4px 0;
}

.INFO {
background: #f2f2f2;
}
